<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <style>.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центровка по вертикали */
}

.form-box {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
}
</style>


</head>
<body>

<div class="content">
{% block content %} {% endblock %}
</div>

</body>
</html>